<!-- 原子力量updated：更新为BT3样式 -->
<block name="header" ></block>
<div id="main-container" class="container-fluid" style="background-color: #f1fafa; padding-top: 20px;padding-bottom: 30px;">
    <div class="row">
        <block name="side">
        <!-- 左侧 nav
        ================================================== -->
            <div class="col-md-3 bs-docs-sidebar">
                <block name="publish"></block>
              <!--   <ul class="nav nav-list bs-docs-sidenav">
                  {:W('Category/lists', array($category['id'], ACTION_NAME == 'index'))}
              </ul> -->
            </div>
        </block>
        <block name="body"></block>
    </div> <!-- row -->
</div> <!-- container-fluid -->

<script type="text/javascript">
    $(function(){
        $(window).resize(function(){
            $("#main-container").css("min-height", $(window).height() - 343);
        }).resize();
    })
</script>