<!-- 原子力量updated：增加了自己的link -->
    <!-- 底部
    ================================================== -->
    <footer class="footer">
      <div class="container-fluid text-center">
          <h4> 本站由 <strong><a href="http://www.onethink.cn" target="_blank">OneThink</a></strong> 强力驱动</h4>
         <!--  <h5> 您正在使用由 <strong><a href="http://www.cleanbing.cn" target="_blank">原子力量工作室</a></strong> 二次定制的基于bootstrap3.3.4的版本</h5> -->
      </div>
    </footer>

<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden"></block>
</div>
