<!-- 这是User控制器的index页面 -->
<extend name="Base/common"/>

<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h2>基于ThinkPHP的图书信息管理系统----个人中心</h2>
            <p class="lead"></p>
        </div>
    </header>
</block>

<block name="side" >
    <!-- 左侧 nav
================================================== -->
    <div class="span3 bs-docs-sidebar" >
        <!-- <ul class="nav nav-list bs-docs-sidenav">{:W('Category/lists', array(1, true))}</ul>
    -->
    <if condition="is_login()">
        <span>当前用户ID为{$userid}</span>
        <else />
        您还未登录,现在
        <a href="{:U('User/login')}">登录</a>
    </if>

</div>
</block>

<block name="body">
<div class="span9">
    <!-- Contents
        ================================================== -->
    <section id="contents">
        <!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css">
        -->
        <div  style="width: 700px">
            <div style="float: left;width: 200px;">
                <h3 align="center" style="color: red">当前正在借阅</h3>
                <table class="book_table" style="margin-top: -20px;">
                    <th>书名</th>
                    <th>借阅时间</th>
                    <foreach name='books' item='v'>
                        <tr>
                            <td align="center">
                                <a href="index.php?s=/home/list/bookinfo/ISBN/{$v.ISBN}">{$v.book_name}</a>
                            </td>
                            <td align="center">{$v.borrow_time|date="Y-m-d H:i:s",###}</td>
                            <br/>
                        </tr>
                    </foreach>
                </table>
            </div>
            <div style="float: right;width: 400px;">
                <h3 align="center" style="color: red">历史借阅记录</h3>
                <table class="book_table" style="margin-top: -20px;">
                    <th>书名</th>
                    <th>借阅时间</th>
                    <th>归还时间</th>
                    <foreach name='history' item='v'>
                        <tr>
                            <td align="center">
                                <a href="index.php?s=/home/list/bookinfo/ISBN/{$v.ISBN}">{$v.book_name}</a>
                            </td>
                            <td align="center">{$v.borrow_time|date="Y-m-d H:i:s",###}</td>
                            <br/>
                            <td align="center">{$v.return_time|date="Y-m-d H:i:s",###}</td>
                            <br/>
                        </tr>
                    </foreach>
                </table>
            </div>
        </div>

    </section>
</div>
<script type="text/javascript" src="__PUBLIC__/Home/js/index.js"></script>
</block>