<extend name="Base/common"/>

<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h2>基于ThinkPHP的图书信息管理系统----书籍详情</h2>
            <p class="lead"></p>
        </div>
    </header>
</block>

<block name="side" >
    <!-- 左侧 nav
================================================== -->
    <!--   <div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav">{:W('Category/lists', array(1, true))}</ul>
</div>
-->
<div style=" float:left ;width: 220px;height: 200px ;">
    <if condition="is_login()">
        <span>当前用户ID为{$userid}</span>
        <else />
        您还未登录,现在
        <a href="{:U('User/login')}">登录</a>
    </if>

</div>
</block>

<block name="body">
<div class="span9">
    <!-- Contents
        ================================================== -->
    <section id="contents">

        <div >
            <table>
                <th>ISBN</th>
                <th>书名</th>
                <th>作者</th>
                <th>介绍</th>
                <th>出版社</th>
                <th>出版日期</th>
                <th>总量</th>
                <th>余量</th>
                <th>书籍ID</th>
                <th>用户ID</th>
                <tr>
                    <td align="center" id="ISBN">{$info.isbn}</td>
                    <td>{$info.book_name}</td>

                    <td>{$info.author}</td>
                    <td>{$info.introduction}</td>
                    <td>{$info.pub}</td>
                    <td>{$info.pub_date|date="Y-m-d H:i:s",###}</td>
                    <td id="totalnum">{$info.totalnum}</td>
                    <td id="remainnum">{$info.remainnum}</td>
                    <td id="state">{$state}</td>
                    <td id="userid">{$userid}</td>
                    <td>
                        <div class="btn-group">
                            <button  id="borrow" class="btn ">借阅</button>
                            <button  id="return" class="btn ">归还</button>
                            <a class="btn" href="{:U('Home/Index/index')}">返回</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <if condition="is_login()">
                        <td>
                            <button  id="borrow">借阅</button>
                        </td>
                        <td>
                            <button  id="return">归还</button>
                        </td>
                            <else />
                            您还未登录,现在
                            <a href="{:U('User/login')}">登录</a>
                        </if>
                    </tr>

                </table>

            </div>
        </section>
    </div>
    <script type="text/javascript" src="__PUBLIC__/Home/js/bookinfo.js"></script>
</block>