<!-- 这是List控制器的index页面 -->
<extend name="Base/common"/>

<block name="header">
    <header class=" subhead" id="overview" style="margin-top: 60px;margin-bottom: 20px;">
        <div class="container" >
            <h2 style="text-align: center;">基于ThinkPHP的图书信息管理系统----首页</h2>
        </div>
    </header>
</block>


<block name="side"  >
  <!--   <div class="col-md-2 bs-docs-sidebar" >
  <ul class="nav nav-list bs-docs-sidenav">{:W('Category/lists', array(1, true))}</ul>
</div>
-->
</block>

<block name="body">
<div class="container-fluid">
  <div class="row-fluid" align="center">
    <div class="col-md-12">
      <form  class=" form-inline" action="{:U('Home/List/index')}" method="post" id="searchlist" >
        <div class="form-group" >
          <select id="field_select" class="form-control" name="query_field" >
            <option value="book_name">题名</option>
            <option value="author">作者</option>
            <option value="ISBN">ISBN编号</option>
          </select>
          <input type="text" class="form-control" name="keyword" id="word" placeholder="查询条件"/>
          <input type="submit" class="form-control" id="submit" value="检索"/>
        </div>
      </form>
    </div>
  </div>
  <div class="row-fluid" >
    <h4 align="center">
      检索到 <strong style="color: red">{$count}</strong>
      条&nbsp;
      <span style="color: red">{$query_field}={$word}</span>
      &nbsp;的结果
    </h4>
    <ol id="search_book_list" class="list-group">
      <foreach name="book" item="v">

        <li class="list-group-item " id="search_list" style="height: 150px">

          <img id="book_img" width="90" height="130" style=" border:1px solid #efefef;float: left;" src="{$v.img}">

          <h4 class="list-group-item-heading">
            <span style="float: right;">中文图书</span>
            <a href="index.php?s=/home/Book/index/ISBN/{$v.isbn}"> <b>{$v.book_name}</b>
            </a>
            {$v.callnum}
          </h4>
          <p style="display: block" class="list-group-item-text">

            <span style="float: right;">
              馆藏复本：{$v.totalnum}
              <br>可借复本：{$v.remainnum}</span>
            {$v.author} 著
            <br>
            {$v.pub}&nbsp;{$v.pub_date|date="Y-m",###}
            <br>
            <a href="index.php?s=/home/Book/index/ISBN/{$v.isbn}" id="test" ISBN="{$v.isbn}">
              <span class="caret"></span>
              馆藏
            </a>

          </p>
          <div id="{$v.isbn}" style="display: none;" class="prompt">
            <table width="100%" border="0" align="center" cellpadding="5" cellspacing="0" id="item" class="table table-condensed">
              <tbody>
                <tr align="left" class="greytext1">
                  <td>索书号</td>
                  <td>条码号</td>
                  <td>年卷期</td>
                  <td>馆藏地</td>
                  <td>书刊状态</td>
                </tr>

              </tbody>
            </table>
          </div>
        </li>
      </foreach>
      <span colspan='5' align='center' style="font-size:medium;">{$page}</span>
    </ol>
  </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Home/js/List_index.js"></script>
</block>