<extend name="Base/common"/>

<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h2>基于ThinkPHP的图书信息管理系统</h2>
            <p class="lead"></p>
        </div>
    </header>
</block>

<block name="side">
    <!-- 左侧 nav
================================================== -->
    <div class="span3 bs-docs-sidebar">
        <!-- <ul class="nav nav-list bs-docs-sidenav">{:W('Category/lists', array(1, true))}</ul>
    -->
</div>
</block>

<block name="body">
<div class="span9">
    <!-- Contents
        ================================================== -->
    <section id="contents">

        <div > <strong>书籍详情</strong>
            <table>
                <th>ID</th>
                <th>书名</th>
                <th>作者名</th>
                <th>介绍</th>
                <th>出版社</th>
                <th>出版日期</th>
                <th>总量</th>
                <th>余量</th>
                <tr>
                    <td align="center" id="bookid">{$info.id}</td>
                    <td>{$info.name}</td>

                    <td>{$info.author}</td>
                    <td>{$info['introduction']}</td>
                    <td>{$info.publish}</td>
                    <td>{$info.pub_date}</td>
                    <td id="totalnum">{$info.totalnum}</td>
                    <td id="remainnum">{$info.remainnum}</td>
                    <td>
                        <button  id="borrow">借阅</button>
                    </td>
                    <td>
                        <button  id="return">归还</button>
                    </td>
                    <td>
                        <a href="{:U('Home/Index/index')}">返回</a>
                    </td>
                </tr>

            </table>

        </div>
        <table id="answer"></table>
    </section>
</div>
<script type="text/javascript" src="__PUBLIC__/Home/js/bookinfo.js"></script>
</block>