<!-- 这是Index控制器的index页面 -->
<extend name="Base/common"/>

<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h2>基于ThinkPHP的图书信息管理系统----首页</h2>
            <p class="lead"></p>
        </div>
    </header>
</block>

<block name="side" >
    <!-- 左侧 nav
================================================== -->
    <div class="col-md-3 bs-docs-sidebar" >
        <!-- <ul class="nav nav-list bs-docs-sidenav">{:W('Category/lists', array(1, true))}</ul>
    -->
    <if condition="is_login()">
        <span>当前用户ID为{$userid}</span>
        <else />
        您还未登录,现在
        <a href="{:U('User/login')}">登录</a>

    </if>

    <h3 align="center" style="color: red">热门借阅榜</h3>
    <table class="table table-striped table-bordered table-hover" style="margin-top: -50px;">
        <th align="center">书名</th>
        <th>借阅次数</th>
        <foreach name='books' item='v'>
            <tr>
                <td align="center">
                    <a href="index.php?s=/home/book/index/ISBN/{$v.isbn}">{$v.book_name}</a>
                </td>
                <td align="center">{$v.rank}</td>
                <br/>
            </tr>
        </foreach>
    </table>

</div>
</block>

<block name="body">
<div class="col-md-9">
    <!-- Contents
        ================================================== -->
    <section id="contents">
        <!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css">
        -->
            <form  class=" form-inline" action="{:U('Home/List/index')}" method="post" id="searchlist" >
             <div class="form-group">
                <select id="field_select" class="form-control" name="query_field" >
                    <option value="book_name">题名</option>
                    <option value="author">作者</option>
                    <option value="ISBN">ISBN编号</option>
                </select>
                <select id="rule_select" class="form-control">
                    <option >任意匹配</option>
                    <option >完全匹配</option>
                    <option >前方一致</option>
                </select>
                <input type="text" class="form-control" name="keyword" id="word" placeholder="查询条件"/>
                <input type="submit" class="form-control" id="submit"value="检索"/>
                  </div>
            </form>
        <table id="result"></table>
    </section>
</div>
<script type="text/javascript" src="__PUBLIC__/Home/js/Index_index.js"></script>
</block>